################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MaxTemp/.vs/MaxTemp/FileContentIndex/d5bdcc60-6226-4a28-99b0-f49bf670a654.vsidx
/MaxTemp/.vs/MaxTemp/FileContentIndex
/.gitignore
